* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(25, 26, 27, 1);
  color: rgba(211, 207, 201, 1);
}

/* canvas {
  width: 100vmin;
  height: 100vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
} */

.app {
  width: 100vmin;
  height: 100vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  padding: 1vmin;
  background-color: rgba(0, 0, 0, 0);
  /* color: black; */
  position: relative;
}

#svarknapp {
  width: 16vmin;
  height: 9vmin;
  font-size: 4vmin;
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  border-radius: 10vmin;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(65, 117, 5, 1);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  outline: none;
  border: none;
}

#svarknapp:hover {
  background-color: rgba(2, 128, 144, 1);
  transform: scale(1.1);
}

#svarknapp:active {
  background-color: rgba(34, 146, 164, 1);
  transform: scale(1.2) !important;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-moz-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-o-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: shake;
  -moz-animation-duration: 0.5s;
  -moz-transform-origin: 50% 50%;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: shake;
  -o-animation-duration: 0.5s;
  -o-transform-origin: 50% 50%;
  -o-animation-iteration-count: infinite;
  animation-name: shake;
  animation-duration: 0.5s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}

.appdiv {
  position: absolute;
  top: 10vmin;
  left: 10vmin;
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
}

.text,
.svar {
  width: 100%;
  text-align: center;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.oppgaveTxt {
  width: 100%;
  height: 100%;
  font-size: 5vmin;
}

.oppgaveSvar {
  width: 100%;
  height: 100%;
  font-size: 5vmin;
}

.svarboks {
  height: 5vmin;
  font-size: 5vmin;
  color: black;
  border: none;
  outline: none;
}

.w1l {
  width: 5vmin;
}

.w2l {
  width: 10vmin;
}

.w3l {
  width: 15vmin;
}

.w4l {
  width: 20vmin;
}

.w5l {
  width: 25vmin;
}

.w6l {
  width: 30vmin;
}

#snackbar {
  visibility: hidden;
  min-width: 10vmin;
  /* background-color: rgba(255, 127, 17, 1); */
  background-color: unset;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border-radius: 5vmin;
  padding: 3vmin;
  z-index: 1;
  bottom: 3vmin;

  position: fixed;
  transform: translate(-50%, 0);
  left: 50vmin;

  font-size: 5vmin;
}

.feil {
  background-color: rgba(202, 60, 37, 1) !important;
}

.riktig {
  background-color: rgba(125, 131, 255, 1) !important;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 3vmin;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 3vmin;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 3vmin;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* .openBtn {
  width: 10vmin;
  height: 10vmin;

  position: fixed;
  top: 0vmin;
  right: 0vmin;

  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  text-align: center;

  background-color: #007cbe;

  border-radius: 50%;

  cursor: pointer;
}

.openBtn span {
  font-size: 10vmin !important;

  color: #1a1a1b !important;

  transition: transform 0.5s ease !important;
}

.rot180 {
  transform: rotate(180deg) !important;
} */

.d-none {
  display: none !important;
}
